.App {
    font-family: sans-serif;
    background-color: #023047;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-header {
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .App-button {
    background-color: #ffcad4;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #023047;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .App-button:hover {
    background-color: #ffb9c1;
    transform: scale(1.05);
  }  